.container {
    max-width: 960px;
    margin: 0 auto;
}
.content-con {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.content-con: first-child, .content-con: last-child 
{
    padding: 5rem 0;
}
.content-r img {
    max-width: 350px;
    border-radius: 10px;
    justify-items: right;
}
.content-l {
    max-width: 450px;
    text-align: left;
}
.content-con2 {
    display:table-row;
    justify-content: space-between;
    margin-top: 5rem;
    background-color: lightgray;
    max-width: 960px;
}
.content-logo {
    max-width: 5px;
}
.content-lists {
    display: flex;
    justify-content: space-between;
    color: black;  
}
.content-con2 img {
    max-width: 35px;
    position: relative;
}
.content-con2 img, h3 {
    display: flex;
}
.container_grid {
    position: initial;
}