.concomp_container {
margin: o auto;
background-color: lightgrey;
}
.concomp_subcon {
    max-width: 980px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: auto;
    justify-content: center;
    align-items: top;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: nowrap;
}


.concomp_grid_wrapper {
display: grid;
grid-template-columns: 1fr 19fr;

}

.starimg {
display: inline-block;
align-self: center;
padding-right: 3px;
}
.starimg img {
    max-width: 50px;
    justify-content: left;
    align-content: bottom;
    align-self: end;


}
.concomp_text p {
align-content: left;
align-self: start;
padding: o;
font-size: 14px;
justify-content: top;
}
.concomp_text h4 {
 align-self: flex-end;
    padding: o;

    }
.concomp_subcon {
    font-size: 19px;

}
.text2ndrow {
    font-size: 16px;
}