.offer_container {
    margin: 0 auto;
    display: flex;
}
.offer_subcon {

    max-width: 980px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: auto;
    justify-content: center;
    align-items: top;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: nowrap;
}

.offer_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 140px;
  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 30px;
  }
.box2 img {
    align-items:flex-end;
    padding: 20px;
    
}
.img_offer img {
align-items: center;
max-width: 80px;
padding: 5px;
display: flexbox

}
 