.contentc_area {
    margin: 0 auto;
    padding: 0;
    background-color: lightgray;
}
.contentc_container {
    max-width: 960px;
    display: flex;
    margin-top: 5rem;
}
.contentc_area_grid {
    max-width: 860px;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-row: auto;
    grid-gap: 10px;
}
.contentc_grid_item {
    align-items: left;
}
.section_grid_item img {
    max-height: 20px;
    align-items: left;
}
.contentc_grid_text {
    align-items: left;
}
.container_text {
    align-items: left;
    margin-left: 260px;
    text-align: left;
}
.container_text h3 {
    width: 100%;
    text-align: left;
}