.footer_container {
margin: 0 auto;
    background-color: skyblue;
}
.footer_subcon {
    max-width: 960px;
    margin: 2rem auto;
    display: flex;
}
.content-a {
    max-width: 140px;
    text-align: left;
    margin-left: 0rem;
}
.content-b {
    max-width: 140px;
    text-align: left;
}
.content-c {
    max-width: 140px;
    text-align: left;
}
.content-d {
    max-width: 120px;
    text-align: left;
}
.content-e {
    width: 420px;
    text-align: left;
}
.content-a li {
    list-style-type: none;
    text-align: left;
}
.content-b li {
    list-style-type: none;
}
.content-c li {
    list-style-type: none;
}
.content-d li {
    list-style-type: none;
}
.content-e li {
list-style-type: none;
}
