.container {
    max-width: 960px;
    margin: 0 auto
}
.smap {
    background: skyblue;
    height: 60px;
    padding-left: 3rem;
    padding-left: 3rem;
}

.container ul {
    padding: 1 rem;
    display: table-column;
    list-style-type: none;
    list-style-type: none;
}