.endButtons {
    display: flex;
    flex-direction: row;
     align-items: flex-end;
     justify-content: flex-end;
     column-gap: 10px;
     
     margin: 0px 0px 20px 50px;
   }
   
   .TopButton {
     display: flex;
     flex-direction: row;
     
     background-color: rgb(224, 194, 24);
     font-size:10px white;
     justify-content: flex-end;
     align-items: flex-end;
     font-weight: bold;
     border-radius: 10%;
   }
   .Dashboard {
     display: flex;
     flex-direction: flex-end;
     background-color: rgb(240, 71, 85);
     align-items: flex-end;
     justify-content: flex-end;
     font-weight: bold;
     border-radius: 10%;
     margin:0px 100px 0px;
   }