.pic {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: flex-end;
  grid-gap: 0px;
  height: auto;
  width: 300px;
  margin: 10px 5px 10px;
  padding: 0px;
  list-style: none;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
  justify-items: flex-end;
  flex-wrap: wrap;
  height: auto;
  list-style: none;
  margin: 10px 5px 10px;
  padding: 5px;
}

.columnPic {
  display: grid;
  justify-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
  grid-gap: 0px;
  justify-content: center;
}

.h4 {
  display: flex;
  justify-content: center;
}

.p3 {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 12px;
}
