
.H4 {
    display: flex;
    flex-direction: column;
    grid-row: start-line;
    margin: 0px;
    padding: 0px;
}

.hr {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin:0px
    
    
}


.H4 {
    display: flex;
    flex-direction: column;
    grid-row: start-line;
    margin: 0px;
    padding: 0px;
}

.hr {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin:0px
  
}
 
.SideBar {
    display: flex;
    flex-direction: column;
    grid-row: start-line;
    justify-self: start;
    justify-items: flex-start;
    margin: 0px,10px 10px;
    padding: 0px;
    
}

.H4 {
    display: flex;
    flex-direction: column;
    grid-row: start-line;
    margin: 0px;
    padding: 0px;
}

