.footer {
  display: grid;
  grid-template-columns: repeat(5, auto);
 justify-items: center;
 margin: 0px;
 padding: 0px;

}
.Box {
  display: grid;  
  grid-template-rows: repeat(5, auto);
  flex-direction: row;
  margin: 0px 5px;
  justify-items: center;

}