.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
} 

.App-header {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: rgb(70, 133, 228);
  min-height: 1vh;
    margin: 20px 20px;
  padding: 3px;
}

.flag {
  display: flex;
  margin: 2px 10px;
  height: 35px;
  width: 50px;
  height: 20px;
}
.lang {
  display: flex;
  margin: 0px 3px;
  font-size: 11px; 
}

.Star {
  display: flex;
  margin: 0px 160px;
  height: 35px;
  
}

.h3 {
  display: flex;
  margin: 0px 380px;
}
.buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-column: start-line;
  margin: 0px 240px;
  font-size: 8px;
  padding: 0px;
 }
.show {
  font-size: 12px;
}
.numbers {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-column: end-line;
   padding: 5px;
   margin: 0px 10px;
}
.endButtons {
 display: flex;
  align-items: flex-end;

}

.hr {
  display: flex; 
  height: 15px;
  
}

.p1 {
  display: flex;
  justify-content: center;
}
.Sidebar {
  height: 50%;
  width: 300px;
  background-color: white ;
}