.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
} 

.App-header {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: rgb(70, 133, 228);
  min-height: 1vh;
  
  margin: 20px 20px;
  padding: 3px;
}

.NavBar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 80px;
  font-size: 12px;
  list-style: none;
  text-align: center;
  width: 30vw;
  justify-content: center;
  margin: 0px, 10px;


  
}
.flag {
  display: flex;
  margin: 2px 10px;
  height: 35px;
  width: 50px;
  height: 20px;
}
.lang {
  display: flex;
  margin: 0px 3px;
  font-size: 11px; 
}

.Star {
  display: flex;
  margin: 0px 160px;
  height: 35px;
  
}

.h3 {
  display: flex;
  margin: 0px 380px;
}
.buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-column: start-line;
  margin: 0px 240px;
  font-size: 8px;
  padding: 0px;
 }
.show {
  font-size: 12px;
}
.number {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-column: end-line;
   padding: 5px;
   margin: 0px 10px;
   font-size: 8px;
   list-style: none;
}

.hr {
  display: flex; 
  height: 15px;
  
}

.p1 {
  display: flex;
  justify-content: center;
}

.pic {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items:flex-end;
  grid-gap: 0px;
  height:auto;
 width: 250px;
  margin: 10px 5px 10px;
  padding: 0px; 
  list-style: none;
  
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
  justify-items:flex-end;
  height:auto;
  list-style: none;
  margin: 10px 5px 10px;
  padding: 5px; 
  
}
 
.columnPic {
  display: grid;
  justify-items:flex-end;
  list-style: none;
  grid-gap: 0px;
  justify-content: center;
 
}


.h4 {
  display: grid;
  list-style: none;
  justify-self: center;
}
.p3 {
  display: grid;
  list-style: none;
  justify-self: center;
  font-size: 12px;


}
