.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
} 

.App-header {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: rgb(70, 133, 228);
  min-height: 1vh;
  font-weight: bold;
    margin: 20px 20px;
  padding: 3px;
}

.flag {
  display: flex;
  margin: 2px 10px;
  height: 35px;
  width: 50px;
  height: 20px;
}
.lang {
  display: flex;
  margin: 0px 3px;
  font-size: 11px; 
}

.Star {
  display: flex;
  margin: 0px 160px;
  height: 35px;
  
}

.h3 {
  display: flex;
  margin: 0px 380px;
}
.buttons {
    display: flex;
    flex-direction: row;
    place-self: center;
    justify-self: center;
    font-weight: bold; 
    margin: 0px 400px ;
    padding: 0px;
 }
 .button {
  display: flex;
  flex-direction: row;
  grid-row: tenth-line / 3; 
  place-self: center;
 justify-self: center; 
 background-color: rgb(233, 223, 223);
  font-size: 12px;
  padding: 0px;
 }

.show {
  font-size: 12px;
  padding: 7px;
}
.numbers {
  display: flex;
  flex-direction: row;
  grid-column: end-line;
  place-self: center;
  justify-self: center; 
  justify-content: end;
   padding: 5px;
   margin: 0px 300px;
}
.number {
  background-color: rgb(233, 223, 223);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  place-self: center;
  justify-self: center;
  

 
}

.endButtons {
 display: flex;
 flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 10px;
  
  margin: 0px 0px 20px 50px;
}

.TopButton {
  display: flex;
  flex-direction: row;
  
  background-color: rgb(224, 194, 24);
  font-size:10px white;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  border-radius: 10%;
}
.Dashboard {
  display: flex;
  flex-direction: flex-end;
  background-color: rgb(240, 71, 85);
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  border-radius: 10%;
  margin:0px 100px 0px;
}
.p1 {
  display: flex;
  justify-content: center;
}
.pictures {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
  justify-items: flex-end;
  flex-wrap: wrap;
  height: auto;
  list-style: none;
  margin: 10px 5px 10px;
  padding: 5px;
}
.sidePic {
  display: grid;
  justify-items: start; 
  grid-column: start-line;
  margin: 0px 100px;
}